<html>

<head>

<script src="/js.js" type="text/javascript"></script>

<script type="text/javascript">

dostepne=function(id){
  $.get("/dostepne/"+id, function(data) {
    if(data!="wait")
    {
        document.getElementById("operacje").innerHTML=data;
        setTimeout(function(){$.get("/rejestruj/");}, 1000);
    }
    else
    {
        setTimeout(function(){dostepne(id);}, 1000);
    }
});
}

dostepne_in=function(){
  $.get("/dostepne_in", function(data) {
      dostepne(data);
});
}

wynik=function(id)
{
  $.get("/wykonaj/"+id, function(data) {
    if(data!="wait")
    {
        document.getElementById("wynik").innerHTML=data;
    }
    else
    {
        setTimeout(function(){wynik(id);}, 1000);
    }
    }).fail( function(xhr, textStatus, errorThrown) {
        alert(xhr.responseText);
    });
}

wynik_in=function()
{
    document.getElementById("wynik").innerHTML="Trwa obliczanie wyniku, proszę czekać...";
    $.post("/wykonaj_in/",$("#formularz").serialize(), function(data) {
      wynik(data);
    }).fail( function(xhr, textStatus, errorThrown) {
        alert(xhr.responseText);
    });
}
</script>


<style>

body{
text-align:center;
font-family:Tahoma,sans-serif;
}

iframe{
    border-width: 0;
}

#operacje{
    margin-top:20px;
    padding-bottom: 100px;
}

#wynik{
    margin-top: 20px;
}

.calosc{
    width:800px;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
}

.naglowek{
    font-size:25px;
    text-align: center;
    width:100%;
}

.form{
    width:100%;
    text-align: center;
}

a:visited{
    text-decoration: none;
    color:black;
}

a{
    text-decoration: none;
    color:black;
}

</style>

</head>

<body onload="dostepne_in()">
<center>
<div class="calosc">

<div class="naglowek">
    <a href="{% url 'projekt.views.home' %}">Django calc</a href>
</div>

{% block content %}

{% endblock %}

</div>
</center>
</body>

</html>